<!DOCTYPE html>
<html>
    <head>
        <title>Consensus</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    </head>
    <body>
        <script type="text/javascript" charset="utf-8">
            window.onload = function() {
                var socket = io.connect("http://127.0.0.1:5000");
                socket.on("connect", function() {
                    socket.emit("connected", "Connected!");
                });
            };
        </script>
    </body>
</html>