<!DOCTYPE html>
<html>
    <head>
        <title>Consensus</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body onload="onLoad()" class="bg-yellow-300 flex h-screen">
        <br><br>
        <div id="page1" class="m-auto w-5/6 h-1/2 bg-indigo-400 rounded-tr-lg rounded-tl-lg rounded-br-lg rounded-bl-lg shadow">
            <br><br>
            <h1 id="p1mainTitle" class="text-center text-2xl align-middle font-serif m-auto">Consensus</h1>
            <br>
            <h3 id="p1mainDescript" class="text-center align-middle">Find a movie to watch together quicker!</h3>
            <br>
            <h5 id="p1instructions" class="text-center align-middle">To get started, input your 4 character group code if you already have a group, or input any 4 characters to create a new group.</h5>
            <br>
            <input id="p1groupCode" type="text" maxlength="4" placeholder="Group Code" onkeyup="this.value = this.value.toUpperCase();">
            <button id="p1joinCreateGroup" class="text-center bg-red-300 hover:bg-red-500 text-white font-bold py-2 px-4 rounded-full">Join/Create Group</button>
        </div>
        <div id="page2"></div>
        <div id="page3"></div>
        <div id="page4"></div>

        <footer>Movie information from TMDB.</footer>
    </body>
</html>